<div class="uix-table-box">
    <!-- ***************** 主表格 start ***************** -->
    <uix-simpletable
            class="uix-table-main"

            data="data"
            columns="columns"
            primary-key="primaryKey"

            single="single"
            fix-head="fixHead"
            use-select="useSelect"
            operations="operations"
            selected-row-map="selectedRowMap"
            all-row-selected="allRowSelected"

            width-radio="widthRadio"
            table-width="tableWidth"
            table-height="tableHeight"
            parent-width="parentWidth"
            table-loader="tableLoader"
    >
    </uix-simpletable>
    <!-- ***************** 主表格 end ***************** -->

    <!-- ***************** 前置冻结表格 start ***************** -->
    <uix-simpletable
            ng-show="preFixCols&&tableLoader===0"
            class="uix-table-pre-frozen"

            data="data"
            columns="preFixCols"
            primary-key="primaryKey"

            single="single"
            fix-head="fixHead"
            use-select="useSelect"
            selected-row-map="selectedRowMap"
            all-row-selected="allRowSelected"

            width-radio="widthRadio"
            table-height="tableHeight"
            table-loader="tableLoader"
            table-width="widthRadio*preFixWidth"
    >
    </uix-simpletable>
    <!-- ***************** 前置冻结表格 end ***************** -->

    <!-- ***************** 后置冻结表格 start ***************** -->
    <uix-simpletable
            ng-show="postFixCols&&tableLoader===0"
            class="uix-table-post-frozen"

            data="data"
            columns="postFixCols"
            primary-key="primaryKey"

            fix-head="fixHead"
            operations="operations"

            width-radio="widthRadio"
            table-height="tableHeight"
            table-loader="tableLoader"
            table-width="widthRadio*postFixWidth"
    >
    </uix-simpletable>
    <!-- ***************** 后置冻结表格 end ***************** -->
    <uix-pager
            class="pull-right pagination-sm"
            ng-model="pages.pageNo"
            total-items="pages.totalCount"
            items-per-page="pages.pageSize"
            ng-change="pageChanged()">
    </uix-pager>
</div>
